<nav>
    <a>
        <img src="../../assets/logo.png">
    </a>
    <ul>
        <li><a href="">
            Hola <br> <b>Elige tu dirección</b>
        </a></li>
        <li class="filtro"><form action="">
            <select name="" id="">
                <option value="">Todos</option>
            </select>
            <input type="text" name="" id="">
            <button><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
        </form></li>
        <li><a href="">
            Hola , <br> <b>Cuentas y Listas</b>
        </a></li>
        <li><a href="">
            Devoluciones <br> <b>y Pedidos</b>
        </a></li>
        <li class="filtro">
            <i class="carrito fa-solid fa-cart-shopping fa-xl"></i> 0
        </li>
    </ul>            
</nav>
