.categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    padding: 1rem;
    background-color: rgb(231, 231, 231);

    .categoria {
        background-color: white;
        padding: 1.5rem 1rem 1.5rem 1rem;

        margin-left: 1rem;

        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .productos {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
    }

    a {
        color: rgb(97, 97, 253);
        text-decoration: none;
    }

    a:hover {
        color: rgb(250, 167, 59);
    }
}